In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
#-------------------------------------------
# step 1 : Load datasets
#-------------------------------------------

In [3]:
customers = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\customers.csv")
accounts = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\accounts.csv")
transactions = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\transactions.csv")
loans = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\loans.csv")
credit_cards = pd.read_json(r"C:\Users\aarth\OneDrive\Documents\project\credit_cards.json")
branches = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\branches.csv")
support_tickets = pd.read_csv(r"C:\Users\aarth\OneDrive\Documents\project\support_tickets.csv")

In [4]:
#-------------------------------------------
# step 2 : Data cleaning
#-------------------------------------------

##### customers

In [5]:
customers.head()

,customer_id,name,gender,age,city,account_type,join_date
0,C0001,Richard Wilson,M,65,Kimberlyburgh,Savings,2023-08-27
1,C0002,Holly Parker,F,41,Port David,Current,2023-12-08
2,C0003,Megan Alvarez,M,46,West Laurieton,Savings,2022-05-25
3,C0004,Nicholas Stewart,F,39,Amyville,Current,2020-11-30
4,C0005,Douglas Anderson,M,70,New Craigport,Current,2023-01-29

In [6]:
customers.isnull().sum()

customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64

In [7]:
customers.duplicated().sum()

np.int64(0)

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   500 non-null    object
 1   name          500 non-null    object
 2   gender        500 non-null    object
 3   age           500 non-null    int64
 4   city          500 non-null    object
 5   account_type  500 non-null    object
 6   join_date     500 non-null    object
dtypes: int64(1), object(6)
memory usage: 27.5+ KB

In [9]:
customers['join_date'] = pd.to_datetime(customers['join_date'])

##### accounts

In [10]:
accounts.head()

  customer_id  account_balance         last_updated
0       C0001        293729.87  2025-05-24 09:46:29
1       C0002        150735.15  2025-05-24 09:46:29
2       C0003        170156.21  2025-05-24 09:46:29
3       C0004        311383.96  2025-05-24 09:46:29
4       C0005         60320.75  2025-05-24 09:46:29

In [11]:
accounts.isnull().sum()

customer_id        0
account_balance    0
last_updated       0
dtype: int64

In [12]:
accounts.duplicated().sum()

np.int64(0)

In [13]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      500 non-null    object
 1   account_balance  500 non-null    float64
 2   last_updated     500 non-null    object
dtypes: float64(1), object(2)
memory usage: 11.8+ KB

In [14]:
accounts['last_updated'] = pd.to_datetime(accounts['last_updated'])

In [15]:
print(accounts.dtypes)

customer_id                object
account_balance           float64
last_updated       datetime64[ns]
dtype: object

##### Transactions

In [16]:
transactions.head()

   txn_id customer_id    txn_type    amount             txn_time   status
0  T00001       C0363     deposit  44442.71  2025-02-14 06:26:00  success
1  T00002       C0432     deposit  15737.59  2025-03-27 07:21:21  success
2  T00003       C0084  withdrawal  82150.70  2024-07-31 18:28:06  success
3  T00004       C0067  withdrawal  20313.86  2024-11-11 12:18:47  success
4  T00005       C0485  withdrawal  74536.08  2025-04-15 10:52:59  success

In [17]:
transactions.isnull().sum()

txn_id         0
customer_id    0
txn_type       0
amount         0
txn_time       0
status         0
dtype: int64

In [18]:
transactions.duplicated().sum()

np.int64(0)

In [19]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   txn_id       10000 non-null  object
 1   customer_id  10000 non-null  object
 2   txn_type     10000 non-null  object
 3   amount       10000 non-null  float64
 4   txn_time     10000 non-null  object
 5   status       10000 non-null  object
dtypes: float64(1), object(5)
memory usage: 468.9+ KB

In [20]:
transactions['txn_time'] = pd.to_datetime(transactions['txn_time'])

In [21]:
print(transactions.dtypes)

txn_id                 object
customer_id            object
txn_type               object
amount                float64
txn_time       datetime64[ns]
status                 object
dtype: object

##### Loans

In [22]:
loans.head()

,Loan_ID,Customer_ID,Account_ID,Branch,Loan_Type,Loan_Amount,Interest_Rate,Loan_Term_Months,Start_Date,End_Date,Loan_Status
0,1,1559,2090,Perez Ltd Branch,Personal,259805,12.43,60,2017-07-03,2022-06-07,Active
1,2,1028,2575,Harris-Marshall Branch,Business,3589336,6.75,24,2017-06-14,2019-06-04,Active
2,3,1164,2433,"Taylor, David and Brown Branch",Auto,4621300,9.86,240,2021-08-10,2041-04-27,Closed
3,4,1100,2368,Robertson and Sons Branch,Home,2380953,7.74,120,2016-02-23,2026-01-01,Approved
4,5,1081,2566,"Parrish, Hall and Adams Branch",Home,2268961,12.96,240,2021-01-05,2040-09-22,Approved

In [23]:
loans.isnull().sum()

Loan_ID             0
Customer_ID         0
Account_ID          0
Branch              0
Loan_Type           0
Loan_Amount         0
Interest_Rate       0
Loan_Term_Months    0
Start_Date          0
End_Date            0
Loan_Status         0
dtype: int64

In [24]:
loans.duplicated().sum()

np.int64(0)

In [25]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Loan_ID           553 non-null    int64
 1   Customer_ID       553 non-null    int64
 2   Account_ID        553 non-null    int64
 3   Branch            553 non-null    object
 4   Loan_Type         553 non-null    object
 5   Loan_Amount       553 non-null    int64
 6   Interest_Rate     553 non-null    float64
 7   Loan_Term_Months  553 non-null    int64
 8   Start_Date        553 non-null    object
 9   End_Date          553 non-null    object
 10  Loan_Status       553 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 47.6+ KB

In [26]:
loans['Customer_ID'] = loans['Customer_ID'].astype(str)

In [27]:
loans['Start_Date'] = pd.to_datetime(loans['Start_Date'])

In [28]:
loans['End_Date'] = pd.to_datetime(loans['End_Date'])

In [29]:
print(loans.dtypes)

Loan_ID                      int64
Customer_ID                 object
Account_ID                   int64
Branch                      object
Loan_Type                   object
Loan_Amount                  int64
Interest_Rate              float64
Loan_Term_Months             int64
Start_Date          datetime64[ns]
End_Date            datetime64[ns]
Loan_Status                 object
dtype: object

##### credit cards dataset

In [30]:
credit_cards.head()

,Card_ID,Customer_ID,Account_ID,Branch,Card_Number,Card_Type,Card_Network,Credit_Limit,Current_Balance,Issued_Date,Expiry_Date,Status
0,1,1559,2090,Perez Ltd Branch,4960013389083863,Business,Visa,178393,39819.23,2015-04-13,2019-10-27,Expired
1,2,1160,2221,Miller Inc Branch,6511615594078161,Platinum,RuPay,416026,175818.58,2015-01-27,2018-12-18,Expired
2,3,1297,2082,"Miles, Patterson and Murray Branch",6316475255341928,Gold,RuPay,419398,29171.29,2021-06-22,2025-07-19,Active
3,4,1333,2058,"Shepard, Gonzales and Cooper Branch",3305641395376724,Gold,Amex,385544,265316.71,2019-04-04,2023-10-07,Active
4,5,1371,2225,Wilson PLC Branch,6287101226916697,Platinum,RuPay,274622,246561.92,2023-05-18,2029-08-26,Expired

In [31]:
credit_cards.isnull().sum()

Card_ID            0
Customer_ID        0
Account_ID         0
Branch             0
Card_Number        0
Card_Type          0
Card_Network       0
Credit_Limit       0
Current_Balance    0
Issued_Date        0
Expiry_Date        0
Status             0
dtype: int64

In [32]:
credit_cards.duplicated().sum()

np.int64(0)

In [33]:
credit_cards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Card_ID          557 non-null    int64
 1   Customer_ID      557 non-null    int64
 2   Account_ID       557 non-null    int64
 3   Branch           557 non-null    object
 4   Card_Number      557 non-null    int64
 5   Card_Type        557 non-null    object
 6   Card_Network     557 non-null    object
 7   Credit_Limit     557 non-null    int64
 8   Current_Balance  557 non-null    float64
 9   Issued_Date      557 non-null    object
 10  Expiry_Date      557 non-null    object
 11  Status           557 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 52.3+ KB

In [34]:
credit_cards['Customer_ID'] = credit_cards['Customer_ID'].astype(str)

In [35]:
credit_cards['Card_Number'] = credit_cards['Card_Number'].astype(str)

In [36]:
credit_cards['Issued_Date'] = pd.to_datetime(credit_cards['Issued_Date'])

In [37]:
credit_cards['Expiry_Date'] = pd.to_datetime(credit_cards['Expiry_Date'])

In [38]:
print(credit_cards.dtypes)

Card_ID                     int64
Customer_ID                object
Account_ID                  int64
Branch                     object
Card_Number                object
Card_Type                  object
Card_Network               object
Credit_Limit                int64
Current_Balance           float64
Issued_Date        datetime64[ns]
Expiry_Date        datetime64[ns]
Status                     object
dtype: object

##### Branches

In [39]:
branches.head()

,Branch_ID,Branch_Name,City,Manager_Name,Total_Employees,Branch_Revenue,Opening_Date,Performance_Rating
0,1,"Wang, Mcdonald and Church Branch",Kellitown,Kevin Jones,141,16849288.09,2008-08-01,2
1,2,Crawford-Torres Branch,Angelaburgh,Andrea Steele,39,5822279.32,2015-09-17,1
2,3,Bridges Inc Branch,Johnsonfort,Michael Coleman,195,2114594.03,2012-07-30,3
3,4,Garcia Group Branch,New Kyleberg,Dawn Cooper,144,3390389.63,2018-06-27,2
4,5,"Arroyo, Moore and Freeman Branch",West Coryborough,Samantha Kennedy,42,2771910.11,2012-01-04,5

In [40]:
branches.isnull().sum()

Branch_ID             0
Branch_Name           0
City                  0
Manager_Name          0
Total_Employees       0
Branch_Revenue        0
Opening_Date          0
Performance_Rating    0
dtype: int64

In [41]:
branches.duplicated().sum()

np.int64(0)

In [42]:
branches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Branch_ID           520 non-null    int64
 1   Branch_Name         520 non-null    object
 2   City                520 non-null    object
 3   Manager_Name        520 non-null    object
 4   Total_Employees     520 non-null    int64
 5   Branch_Revenue      520 non-null    float64
 6   Opening_Date        520 non-null    object
 7   Performance_Rating  520 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 32.6+ KB

In [43]:
branches['Opening_Date'] = pd.to_datetime(branches['Opening_Date'])

In [44]:
print(branches.dtypes)

Branch_ID                      int64
Branch_Name                   object
City                          object
Manager_Name                  object
Total_Employees                int64
Branch_Revenue               float64
Opening_Date          datetime64[ns]
Performance_Rating             int64
dtype: object

##### Support_Tickets

In [45]:
support_tickets.head()

,Ticket_ID,Customer_ID,Account_ID,Loan_ID,Branch_Name,Issue_Category,Description,Date_Opened,Date_Closed,Priority,Status,Resolution_Remarks,Support_Agent,Channel,Customer_Rating
0,T00001,C0478,A1825,NaN,Gonzalez-Martin Branch,Loan Payment Delay,Client raised loan payment delay.,2017-09-30,2017-10-24,Low,Closed,Card replaced and activated.,Leena Apte,Email,1
1,T00002,C0443,A3583,NaN,Baldwin and Sons Branch,Loan Foreclosure,Client raised loan foreclosure.,2015-04-19,2015-05-12,Critical,In Progress,Card replaced and activated.,Owen Mahajan,In-person,1
2,T00003,C0057,A2616,442.0,"Porter, Osborne and Mendez Branch",Interest Rate Dispute,Customer reported interest rate dispute.,2016-09-28,2016-10-23,High,Resolved,Loan schedule updated.,Wishi Chhabra,Email,4
3,T00004,C0301,A8786,NaN,"Stafford, Oneal and Williams Branch",Mismatch in Account Statement,Client raised mismatch in account statement.,2019-03-31,2019-04-10,High,Closed,Pending customer verification.,Gabriel Mutti,Email,1
4,T00005,C0238,A3734,NaN,Evans-Mercado Branch,KYC Update Required,System detected kyc update required.,2017-08-11,NaN,Critical,Resolved,Pending customer verification.,Ekani Oza,In-person,2

In [46]:
support_tickets.duplicated().sum()

np.int64(0)

In [47]:
support_tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ticket_ID           600 non-null    object
 1   Customer_ID         600 non-null    object
 2   Account_ID          600 non-null    object
 3   Loan_ID             229 non-null    float64
 4   Branch_Name         600 non-null    object
 5   Issue_Category      600 non-null    object
 6   Description         600 non-null    object
 7   Date_Opened         600 non-null    object
 8   Date_Closed         496 non-null    object
 9   Priority            600 non-null    object
 10  Status              600 non-null    object
 11  Resolution_Remarks  600 non-null    object
 12  Support_Agent       600 non-null    object
 13  Channel             600 non-null    object
 14  Customer_Rating     600 non-null    int64
dtypes: float64(1), int64(1), object(13)
memory usage: 70.4+ KB

In [48]:
support_tickets['Loan_ID'] = support_tickets['Loan_ID'].astype(str)

In [49]:
support_tickets['Date_Opened'] = pd.to_datetime(support_tickets['Date_Opened'])

In [50]:
support_tickets['Date_Closed'] = pd.to_datetime(support_tickets['Date_Closed'])

In [51]:
support_tickets.isnull().sum()

Ticket_ID               0
Customer_ID             0
Account_ID              0
Loan_ID                 0
Branch_Name             0
Issue_Category          0
Description             0
Date_Opened             0
Date_Closed           104
Priority                0
Status                  0
Resolution_Remarks      0
Support_Agent           0
Channel                 0
Customer_Rating         0
dtype: int64

In [52]:
support_tickets['Loan_ID'] = support_tickets['Loan_ID'].replace(
    ['nan', 'NaN', 'None', ''], np.nan
)

In [53]:
support_tickets['Date_Closed'] = pd.to_datetime(
    support_tickets['Date_Closed'], errors='coerce'
)

In [54]:
#-------------------------------------------
# step 3 : connect to mysql
#-------------------------------------------

In [55]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aarthiba@123"
)
cursor = conn.cursor()

In [56]:
#-------------------------------------------
# step 4 : create database
#-------------------------------------------

In [57]:
cursor.execute("CREATE DATABASE IF NOT EXISTS banksight")
cursor.execute("USE banksight")
print("Database selected")

Database selected

In [58]:
#-------------------------------------------
# step 5 : create tables
#-------------------------------------------

In [59]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    gender CHAR(1),
    age INT,
    city VARCHAR(50),
    account_type VARCHAR(20),
    join_date DATE
)
""")

In [60]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS accounts (
    customer_id VARCHAR(10),
    account_balance DECIMAL(12,2),
    last_updated DATETIME,
               
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id)
    ON DELETE CASCADE
)
""")

In [61]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS transactions (
    txn_id VARCHAR(10) PRIMARY KEY,
    customer_id VARCHAR(10),
    txn_type VARCHAR(50),
    amount DECIMAL(12,2),
    txn_time DATETIME,
    status VARCHAR(50),
               
    FOREIGN KEY (customer_id) 
    REFERENCES customers(customer_id)
    ON DELETE CASCADE
)
""")

In [62]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS loans (
    loan_id INT PRIMARY KEY,
    customer_id VARCHAR(10),
    account_id INT,
    branch VARCHAR(50),
    loan_type VARCHAR(50),
    loan_amount INT,
    interest_rate DECIMAL(12,2),
    loan_term_months INT,
    start_date DATE,
    end_date DATE,
    loan_status VARCHAR(50)
               
)
""")

In [63]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS credit_cards (
    card_id INT PRIMARY KEY,
    customer_id VARCHAR(10),
    account_id INT,
    branch VARCHAR(50),
    card_number VARCHAR(20),
    card_type VARCHAR(50),
    card_network VARCHAR(50),
    credit_limit INT,
    current_balance DECIMAL(12,2),
    issued_date DATE,
    expiry_date DATE,
    status VARCHAR(50),
               
    FOREIGN KEY (customer_id) 
    REFERENCES customers( customer_id)
    ON DELETE CASCADE
)
""")

In [64]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS branches (
    branch_id INT PRIMARY KEY,
    branch_name VARCHAR(50),
    city VARCHAR(50),
    manager_name VARCHAR(50),
    total_employees int,
    branch_revenue DECIMAL(12,2),
    opening_date DATE,
    performance_rating int
)
""")

In [65]:

cursor.execute("""
CREATE TABLE IF NOT EXISTS support_tickets (
    ticket_id VARCHAR(10) PRIMARY KEY,
    customer_id VARCHAR(10),
    account_id VARCHAR(10),
    loan_id VARCHAR(50) NULL,
    branch_name VARCHAR(50),
    issue_category VARCHAR(50),
    description  TEXT,
    date_opened DATE,
    date_closed DATE,
    priority VARCHAR(50),
    status VARCHAR(50),
    resolution_remarks TEXT,
    support_agent VARCHAR(50),
    channel VARCHAR(50),
    customer_rating int,
               
    FOREIGN KEY (customer_id) 
    REFERENCES customers(customer_id)
    ON DELETE CASCADE
)
""")

In [66]:
#-------------------------------------------
# step 6 : Insert rows
#-------------------------------------------

In [67]:
for _, row in customers.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO customers (customer_id, name, gender, age, city, account_type, join_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (row['customer_id'], 
          row['name'], 
          row['gender'], 
          row['age'], 
          row['city'], 
          row['account_type'], 
          row['join_date']))

conn.commit()

In [68]:
for _, row in accounts.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO accounts (customer_id, account_balance,last_updated)
        VALUES (%s, %s,%s)
    """, (row['customer_id'], 
          row['account_balance'],
          row['last_updated']))

conn.commit()

In [69]:
for _, row in transactions.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO transactions (txn_id, customer_id, txn_type, amount, txn_time, status)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, (row['txn_id'], 
          row['customer_id'],
          row['txn_type'],
          row['amount'],
          row['txn_time'],
          row['status'],))

conn.commit()

In [70]:
for _, row in loans.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO loans (loan_id, customer_id, account_id, branch, loan_type, loan_amount, interest_rate, loan_term_months, start_date, end_date, loan_status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['Loan_ID'], 
          row['Customer_ID'],
          row['Account_ID'],
          row['Branch'],
          row['Loan_Type'],
          row['Loan_Amount'],
          row['Interest_Rate'],
          row['Loan_Term_Months'],
          row['Start_Date'],
          row['End_Date'],
          row['Loan_Status']))

conn.commit()

In [71]:
for _, row in credit_cards.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO credit_cards (card_id, customer_id, account_id, branch, card_number, card_type, card_network, credit_limit, current_balance, issued_date, expiry_date, status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['Card_ID'], 
          row['Customer_ID'],
          row['Account_ID'],
          row['Branch'],
          row['Card_Number'],
          row['Card_Type'],
          row['Card_Network'],
          row['Credit_Limit'],
          row['Current_Balance'],
          row['Issued_Date'],
          row['Expiry_Date'],
          row['Status']))

conn.commit()

In [72]:
for _, row in branches.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO branches (branch_id, branch_name, city, manager_name, total_employees, branch_revenue, opening_date, performance_rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['Branch_ID'], 
          row['Branch_Name'],
          row['City'],
          row['Manager_Name'],
          row['Total_Employees'],
          row['Branch_Revenue'],
          row['Opening_Date'],
          row['Performance_Rating']))

conn.commit()

In [73]:

support_tickets['Loan_ID'] = support_tickets['Loan_ID'].where(pd.notnull(support_tickets['Loan_ID']), None)
support_tickets['Date_Closed'] = support_tickets['Date_Closed'].where(pd.notnull(support_tickets['Date_Closed']), None)


for _, row in support_tickets.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO support_tickets
        (ticket_id, customer_id, account_id, loan_id, branch_name,
         issue_category, description, date_opened, date_closed,
         priority, status, resolution_remarks, support_agent, channel, customer_rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Ticket_ID'],
        row['Customer_ID'],
        row['Account_ID'],
        row['Loan_ID'],                     
        row['Branch_Name'],
        row['Issue_Category'],
        row['Description'],
        row['Date_Opened'],
        row['Date_Closed'],                 
        row['Priority'],
        row['Status'],
        row['Resolution_Remarks'],
        row['Support_Agent'],
        row['Channel'],
        row['Customer_Rating']
    ))

conn.commit()

In [74]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

accounts
branches
credit_cards
customers
loans
support_tickets
transactions

In [75]:
customers = pd.read_sql("SELECT * FROM customers ", conn)
print(customers)

    customer_id                 name gender  age              city  \
0         C0001       Richard Wilson      M   45     Kimberlyburgh
1         C0002         Holly Parker      F   41        Port David
2         C0003        Megan Alvarez      M   46    West Laurieton
3         C0004     Nicholas Stewart      F   39          Amyville
4         C0005     Douglas Anderson      M   70     New Craigport
..          ...                  ...    ...  ...               ...
496       C0497       Melissa Martin      M   41       Shermanfurt
497       C0498  Christopher Johnson      M   69      Nataliemouth
498       C0499        Alvin Compton      M   30        Millerstad
499       C0500         Emily Brooks      M   47  South Louismouth
500       C0501        Alfert Daniel      M   26          Garyside

    account_type   join_date
0        Savings  2023-08-27
1        Current  2023-12-08
2        Savings  2022-05-25
3        Current  2020-11-30
4        Current  2023-01-29
..           ...         ...
496      Current  2021-12-27
497      Savings  2022-10-10
498      Current  2023-06-16
499      Savings  2023-10-11
500      Savings  2026-01-04

[501 rows x 7 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\2084859881.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql("SELECT * FROM customers ", conn)

In [76]:
accounts = pd.read_sql("SELECT * FROM accounts ", conn)
print(accounts)

    customer_id  account_balance        last_updated
0         C0001        293729.87 2025-05-24 09:46:29
1         C0002        150735.15 2025-05-24 09:46:29
2         C0003        170156.21 2025-05-24 09:46:29
3         C0004        311383.96 2025-05-24 09:46:29
4         C0005         60320.75 2025-05-24 09:46:29
..          ...              ...                 ...
495       C0496        149135.80 2025-05-24 09:46:29
496       C0497        376153.36 2025-05-24 09:46:29
497       C0498        320254.17 2025-05-24 09:46:29
498       C0499        484758.19 2025-05-24 09:46:29
499       C0500        454127.94 2025-05-24 09:46:29

[500 rows x 3 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\3595903122.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  accounts = pd.read_sql("SELECT * FROM accounts ", conn)

In [77]:
transactions = pd.read_sql("SELECT * FROM transactions ", conn)
print(transactions)

      txn_id customer_id    txn_type    amount            txn_time   status
0     T00001       C0363     deposit  44442.71 2025-02-14 06:26:00  success
1     T00002       C0432     deposit  15737.59 2025-03-27 07:21:21  success
2     T00003       C0084  withdrawal  82150.70 2024-07-31 18:28:06  success
3     T00004       C0067  withdrawal  20313.86 2024-11-11 12:18:47  success
4     T00005       C0485  withdrawal  74536.08 2025-04-15 10:52:59  success
...      ...         ...         ...       ...                 ...      ...
9995  T09996       C0260  withdrawal  54743.72 2024-07-28 08:41:01  success
9996  T09997       C0172    purchase  13087.77 2024-06-23 07:24:30   failed
9997  T09998       C0494  withdrawal  66846.76 2025-02-10 01:47:28   failed
9998  T09999       C0499  withdrawal  90759.88 2024-12-11 04:45:07  success
9999  T10000       C0201  withdrawal  92878.32 2024-06-27 18:07:13   failed

[10000 rows x 6 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\2156411750.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transactions = pd.read_sql("SELECT * FROM transactions ", conn)

In [78]:
loans = pd.read_sql("SELECT * FROM loans ", conn)
print(loans)

     loan_id customer_id  account_id                               branch  \
0          1        1559        2090                     Perez Ltd Branch
1          2        1028        2575               Harris-Marshall Branch
2          3        1164        2433       Taylor, David and Brown Branch
3          4        1100        2368            Robertson and Sons Branch
4          5        1081        2566       Parrish, Hall and Adams Branch
..       ...         ...         ...                                  ...
548      549        1534        2214  Potts, Gutierrez and Hancock Branch
549      550        1563        2534   Cunningham, Lee and Fleming Branch
550      551        1224        2116            Richardson-Morales Branch
551      552        1406        2249      Ross, Hayes and Erickson Branch
552      553        1092        2255    Stewart, Wilson and Dalton Branch

     loan_type  loan_amount  interest_rate  loan_term_months  start_date  \
0     Personal       259805          12.43                60  2017-07-03
1     Business      3589336           6.75                24  2017-06-14
2         Auto      4621300           9.86               240  2021-08-10
3         Home      2380953           7.74               120  2016-02-23
4         Home      2268961          12.96               240  2021-01-05
..         ...          ...            ...               ...         ...
548  Education      2123346          12.40                12  2017-03-26
549  Education      3314199          11.95                84  2018-08-16
550   Personal      2174941          10.35                84  2017-03-24
551       Auto      3692011           9.10                36  2023-11-28
552   Personal       402265          11.15               240  2022-09-20

       end_date loan_status
0    2022-06-07      Active
1    2019-06-04      Active
2    2041-04-27      Closed
3    2026-01-01    Approved
4    2040-09-22    Approved
..          ...         ...
548  2018-03-21   Defaulted
549  2025-07-10      Active
550  2024-02-16      Closed
551  2026-11-12      Closed
552  2042-06-07      Active

[553 rows x 11 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\2797388286.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  loans = pd.read_sql("SELECT * FROM loans ", conn)

In [79]:
credit_cards = pd.read_sql("SELECT * FROM credit_cards ", conn)
print(credit_cards)

     card_id customer_id  account_id                               branch  \
0          1        1559        2090                     Perez Ltd Branch
1          2        1160        2221                    Miller Inc Branch
2          3        1297        2082   Miles, Patterson and Murray Branch
3          4        1333        2058  Shepard, Gonzales and Cooper Branch
4          5        1371        2225                    Wilson PLC Branch
..       ...         ...         ...                                  ...
552      553        1160        2599       Huff, Bryant and Thomas Branch
553      554        1163        2411                 Morris-Prince Branch
554      555        1161        2182   Robertson, Moore and Howell Branch
555      556        1333        2256                   Green-Keith Branch
556      557        1212        2592     Holmes, Nguyen and French Branch

          card_number card_type card_network  credit_limit  current_balance  \
0    4960013389083863  Business         Visa        178393         39819.23
1    6511615594078161  Platinum        RuPay        416026        175818.58
2    6316475255341928      Gold        RuPay        419398         29171.29
3    3305641395376724      Gold         Amex        385544        265316.71
4    6287101226916697  Platinum        RuPay        274622        246561.92
..                ...       ...          ...           ...              ...
552  6295966048736826    Silver        RuPay        286715        193389.66
553  3865369455158886      Gold         Amex        108003         61642.17
554  3640857216966630      Gold         Amex        200094        165305.34
555  4297150968832753      Gold         Visa        433856        177349.60
556  5773973278195237    Silver   MasterCard        203606         13196.28

    issued_date expiry_date   status
0    2015-04-13  2019-10-27  Expired
1    2015-01-27  2018-12-18  Expired
2    2021-06-22  2025-07-19   Active
3    2019-04-04  2023-10-07   Active
4    2023-05-18  2029-08-26  Expired
..          ...         ...      ...
552  2023-06-03  2028-03-08   Active
553  2017-06-13  2021-08-18  Blocked
554  2023-06-27  2029-01-31   Active
555  2021-09-21  2027-12-02  Blocked
556  2018-08-14  2022-05-11   Active

[557 rows x 12 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\31127039.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  credit_cards = pd.read_sql("SELECT * FROM credit_cards ", conn)

In [80]:
branches = pd.read_sql("SELECT * FROM branches ", conn)
print(branches)

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\3543605649.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  branches = pd.read_sql("SELECT * FROM branches ", conn)

     branch_id                        branch_name              city  \
0            1   Wang, Mcdonald and Church Branch         Kellitown
1            2             Crawford-Torres Branch       Angelaburgh
2            3                 Bridges Inc Branch       Johnsonfort
3            4                Garcia Group Branch      New Kyleberg
4            5   Arroyo, Moore and Freeman Branch  West Coryborough
..         ...                                ...               ...
515        516             Lowery and Sons Branch      Lake Charles
516        517                Brooks Group Branch     New Christina
517        518             Harris-Marshall Branch        Emilymouth
518        519  Meadows, Taylor and Butler Branch      Port Michael
519        520              Beltran-Nelson Branch         Juliabury

          manager_name  total_employees  branch_revenue opening_date  \
0          Kevin Jones              141     16849288.09   2008-08-01
1        Andrea Steele               39      5822279.32   2015-09-17
2      Michael Coleman              195      2114594.03   2012-07-30
3          Dawn Cooper              144      3390389.63   2018-06-27
4     Samantha Kennedy               42      2771910.11   2012-01-04
..                 ...              ...             ...          ...
515        Daniel Hunt              130      6562890.41   2007-06-22
516    Rodney Browning               19     19078758.01   2021-07-20
517   Lorraine Johnson              177      2801634.32   2011-08-18
518        David Smith               76     17653138.31   2006-05-21
519  Richard Singleton              171     19520645.33   2010-09-13

     performance_rating
0                     2
1                     1
2                     3
3                     2
4                     5
..                  ...
515                   4
516                   1
517                   5
518                   4
519                   1

[520 rows x 8 columns]

In [81]:
support_tickets = pd.read_sql("SELECT * FROM support_tickets ", conn)
print(support_tickets)

    ticket_id customer_id account_id loan_id  \
0      T00001       C0478      A1825    None
1      T00002       C0443      A3583    None
2      T00003       C0057      A2616   442.0
3      T00004       C0301      A8786    None
4      T00005       C0238      A3734    None
..        ...         ...        ...     ...
595    T00596       C0303      A9594    None
596    T00597       C0480      A5144    None
597    T00598       C0270      A7108   427.0
598    T00599       C0144      A4959   121.0
599    T00600       C0076      A7140    24.0

                             branch_name                 issue_category  \
0                 Gonzalez-Martin Branch             Loan Payment Delay
1                Baldwin and Sons Branch               Loan Foreclosure
2      Porter, Osborne and Mendez Branch          Interest Rate Dispute
3    Stafford, Oneal and Williams Branch  Mismatch in Account Statement
4                   Evans-Mercado Branch            KYC Update Required
..                                   ...                            ...
595                 Johnson Group Branch                 Account Frozen
596                     Clark Inc Branch          Interest Rate Dispute
597               Murphy-Johnston Branch          Interest Rate Dispute
598     Herrera, Rollins and Hill Branch               Card Not Working
599               Peterson-Graves Branch          EMI Auto-debit Failed

                                      description date_opened date_closed  \
0               Client raised loan payment delay.  2017-09-30  2017-10-24
1                 Client raised loan foreclosure.  2015-04-19  2015-05-12
2        Customer reported interest rate dispute.  2016-09-28  2016-10-23
3    Client raised mismatch in account statement.  2019-03-31  2019-04-10
4            System detected kyc update required.  2017-08-11  0001-01-01
..                                            ...         ...         ...
595             Customer reported account frozen.  2015-03-08  2015-03-30
596      Customer reported interest rate dispute.  2020-01-17  2020-01-26
597          Client raised interest rate dispute.  2016-04-22  2016-05-13
598           Customer reported card not working.  2015-02-26  2015-03-25
599      Customer reported emi auto-debit failed.  2023-08-19  2023-09-04

     priority       status              resolution_remarks     support_agent  \
0         Low       Closed    Card replaced and activated.        Leena Apte
1    Critical  In Progress    Card replaced and activated.      Owen Mahajan
2        High     Resolved          Loan schedule updated.     Wishi Chhabra
3        High       Closed  Pending customer verification.     Gabriel Mutti
4    Critical     Resolved  Pending customer verification.         Ekani Oza
..        ...          ...                             ...               ...
595    Medium    Escalated    Issue resolved successfully.   Chaitaly Vaidya
596    Medium  In Progress    Issue resolved successfully.    Ekapad Jhaveri
597  Critical     Resolved          Loan schedule updated.      Advik Bhagat
598       Low  In Progress    Card replaced and activated.  Wriddhish Sarraf
599  Critical    Escalated    Card replaced and activated.         Ria Ghose

        channel  customer_rating
0         Email                1
1     In-person                1
2         Email                4
3         Email                1
4     In-person                2
..          ...              ...
595  Mobile App                3
596   In-person                1
597   In-person                4
598       Phone                2
599  Mobile App                5

[600 rows x 15 columns]

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\3153517503.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  support_tickets = pd.read_sql("SELECT * FROM support_tickets ", conn)

In [82]:
#-------------------------------------------
# step 7 : SQL Queries & Analysis
#-------------------------------------------

##### 1 CUSTOMER & ACCOUNT ANALYSIS

Q1: How many customers exist per city, and what is their average account balance?

In [83]:

cust_acc = pd.merge(customers, accounts, on='customer_id', how='left')

result = cust_acc.groupby('city').agg(
    total_customers=('customer_id', 'count'),
    avg_account_balance=('account_balance', 'mean')
).reset_index()

print(result)

               city  total_customers  avg_account_balance
0          Adamtown                1             45424.11
1           Alanton                1            392508.77
2     Albertchester                1            387844.67
3     Alexanderstad                1            383016.76
4          Alexfurt                1            403292.20
..              ...              ...                  ...
482    Wintershaven                1            455365.96
483        Woodfort                1            434936.56
484       Yanghaven                1            163152.58
485  Zacharychester                1            311439.87
486     Zacharyport                1            208294.35

[487 rows x 3 columns]

Q2: Which account type (Savings, Current, Loan, etc.) holds the highest total balance?

In [84]:
cust_acc = pd.merge(customers, accounts, on='customer_id', how='left')

balance_by_type = cust_acc.groupby('account_type').agg(
    total_balance=('account_balance', 'sum')
).reset_index()

highest_balance_type = balance_by_type.loc[balance_by_type['total_balance'].idxmax()]
print(highest_balance_type)

account_type         Savings
total_balance    61880483.18
Name: 1, dtype: object

Q3: Who are the top 10 customers by total account balance across all account types?

In [85]:
cust_acc = pd.merge(customers, accounts, on='customer_id', how='left')

total_balance_per_customer = cust_acc.groupby(['customer_id', 'name'])['account_balance'].sum().reset_index()

top10_customers = total_balance_per_customer.sort_values(by='account_balance', ascending=False).head(10)
print(top10_customers)

    customer_id                name  account_balance
313       C0314          Amy Nguyen        498739.49
10        C0011     Carolyn Higgins        498317.41
110       C0111        Lisa Russell        497040.60
391       C0392      Amber Williams        494779.97
76        C0077         Audrey Peck        494699.91
498       C0499       Alvin Compton        484758.19
337       C0338  Sharon Bennett DVM        482746.37
316       C0317     Denise Campbell        481746.58
219       C0220       Jeffrey Smith        481568.14
145       C0146          Ann Crosby        479706.41

Q4: Which customers opened accounts in 2023 with a balance above 1,00,000?

In [86]:
cust_acc = pd.merge(customers, accounts, on='customer_id', how='left')

# cust_acc['join_date'] object to Datetime convert

cust_acc['join_date'] = pd.to_datetime(cust_acc['join_date'], errors='coerce')

accounts_2023_high = cust_acc[
    (cust_acc['join_date'].dt.year == 2023) &
    (cust_acc['account_balance'] > 100000)
]

result = accounts_2023_high[['customer_id', 'name', 'account_balance', 'join_date']]
print(result)

    customer_id             name  account_balance  join_date
0         C0001   Richard Wilson        293729.87 2023-08-27
1         C0002     Holly Parker        150735.15 2023-12-08
6         C0007   Jasmine Morris        291736.90 2023-10-09
16        C0017  Jesus Davenport        345239.48 2023-06-07
20        C0021    William Jones        185053.68 2023-04-01
..          ...              ...              ...        ...
477       C0478     Ryan Jackson        400751.68 2023-04-18
483       C0484      Rodney Cruz        150039.17 2023-03-09
488       C0489    Andrea Austin        407686.39 2023-01-28
498       C0499    Alvin Compton        484758.19 2023-06-16
499       C0500     Emily Brooks        454127.94 2023-10-11

[113 rows x 4 columns]

##### 2 TRANSACTION BEHAVIOR

Q5: What is the total transaction volume (sum of amounts) by transaction type?

In [87]:

txn_summary = transactions.groupby('txn_type').agg(
    total_amount=('amount', 'sum')
).reset_index()

print(txn_summary)

       txn_type  total_amount
0       deposit  1.975748e+08
1  online fraud  2.382950e+07
2      purchase  7.383403e+07
3      transfer  5.059280e+07
4    withdrawal  1.513873e+08

Q6: How many failed transactions occurred for each transaction type?

In [88]:

failed_count = transactions[transactions['status'].str.lower() == 'failed'] \
               .groupby('txn_type') \
               .size() \
               .reset_index(name='failed_count')

print(failed_count)

       txn_type  failed_count
0       deposit           433
1  online fraud           489
2      purchase           167
3      transfer            94
4    withdrawal           314

Q7: What is the total number of transactions per transaction type?

In [89]:
txn_summary = transactions.groupby('txn_type').agg(
    total_count=('txn_id', 'count')
).reset_index()

print(txn_summary)

       txn_type  total_count
0       deposit         3921
1  online fraud          489
2      purchase         1513
3      transfer         1012
4    withdrawal         3065

Q8: Which accounts have 5 or more high-value transactions above 20,000?

In [90]:
# Step 1: Filter high-value transactions (>20,000)
high_txn = transactions[transactions['amount'] > 20000]

# Step 2: Group by account (customer_id) and calculate count & total amount
high_txn_summary = high_txn.groupby('customer_id').agg(
    txn_count=('txn_id', 'count'),
    total_amount=('amount', 'sum')
).reset_index()

# Step 3: Filter accounts with 5 or more high-value transactions
high_value_accounts = high_txn_summary[high_txn_summary['txn_count'] >= 5]

# Step 4: Display result
print(high_value_accounts)

    customer_id  txn_count  total_amount
0         C0001         16    1017798.81
1         C0002          9     599882.21
2         C0003         15     814422.96
3         C0004         11     701348.05
4         C0005         11     576342.49
..          ...        ...           ...
495       C0496         25    1629969.98
496       C0497         17    1015655.03
497       C0498         13     728183.32
498       C0499         17    1168605.41
499       C0500         11     602101.90

[500 rows x 3 columns]

##### 3 LOAN INSIGHTS

Q9: What is the average loan amount and interest rate by loan type (Personal, Auto, Home, etc.)?

In [91]:
loan_summary = loans.groupby('loan_type').agg(
    avg_loan_amount=('loan_amount', 'mean'),
    avg_interest_rate=('interest_rate', 'mean')
).reset_index()

print(loan_summary)

   loan_type  avg_loan_amount  avg_interest_rate
0       Auto     2.399261e+06          10.532523
1   Business     2.793969e+06          10.625437
2  Education     2.393948e+06          10.114393
3       Home     2.344577e+06          10.872479
4   Personal     2.461544e+06          10.463391

Q10: Which customers currently hold more than one active or approved loan?

In [92]:

# Step 1: Filter only active or approved loans
active_loans = loans[loans['loan_status'].isin(['Active', 'Approved'])]

# Step 2: Group by customer_id and count number of loans
loan_counts = active_loans.groupby('customer_id').agg(
    num_loans=('loan_id', 'count')
).reset_index()

# Step 3: Filter customers with more than 1 loan
customers_multiple_loans = loan_counts[loan_counts['num_loans'] > 1]

# Step 4: Merge with customer names (optional, to see names)
result = pd.merge(customers_multiple_loans, customers[['customer_id', 'name']], on='customer_id', how='left')

print(result)

   customer_id  num_loans name
0         1005          2  NaN
1         1010          4  NaN
2         1020          2  NaN
3         1059          2  NaN
4         1073          2  NaN
5         1088          3  NaN
6         1101          2  NaN
7         1108          2  NaN
8         1123          2  NaN
9         1126          2  NaN
10        1132          2  NaN
11        1146          2  NaN
12        1155          2  NaN
13        1162          2  NaN
14        1180          3  NaN
15        1209          2  NaN
16        1216          2  NaN
17        1231          4  NaN
18        1236          2  NaN
19        1249          3  NaN
20        1255          2  NaN
21        1263          2  NaN
22        1270          2  NaN
23        1275          2  NaN
24        1284          2  NaN
25        1292          3  NaN
26        1308          2  NaN
27        1317          2  NaN
28        1325          3  NaN
29        1359          2  NaN
30        1363          2  NaN
31        1364          2  NaN
32        1378          2  NaN
33        1382          3  NaN
34        1383          3  NaN
35        1386          2  NaN
36        1405          2  NaN
37        1408          2  NaN
38        1411          3  NaN
39        1420          2  NaN
40        1430          2  NaN
41        1455          3  NaN
42        1460          2  NaN
43        1462          2  NaN
44        1470          3  NaN
45        1481          2  NaN
46        1488          3  NaN
47        1495          2  NaN
48        1502          3  NaN
49        1528          2  NaN
50        1531          2  NaN
51        1549          2  NaN
52        1551          2  NaN
53        1565          2  NaN
54        1580          2  NaN
55        1587          2  NaN

Q11: Who are the top 5 customers with the highest outstanding (non-closed) loan amounts?

In [93]:
# Step 1: Filter only non-closed loans
non_closed_loans = loans[loans['loan_status'] != 'Closed']

# Step 2: Group by customer_id and sum loan_amount
outstanding = non_closed_loans.groupby('customer_id').agg(
    total_outstanding=('loan_amount', 'sum')
).reset_index()

# Step 3: Sort by total outstanding amount descending
top5_customers = outstanding.sort_values(by='total_outstanding', ascending=False).head(5)

# Step 4: Merge with customer names (optional)
top5_customers = pd.merge(top5_customers, customers[['customer_id', 'name']], on='customer_id', how='left')

print(top5_customers)

  customer_id  total_outstanding name
0        1455           15389458  NaN
1        1383           13279523  NaN
2        1088           11960853  NaN
3        1236           11783260  NaN
4        1010           11747032  NaN

##### 4 BRANCH & PERFORMANCE

Q12: What is the average loan amount per branch?

In [94]:
avg_loan_branch = loans.groupby('branch').agg(
    avg_loan_amount=('loan_amount', 'mean')
).reset_index()

# Step 2: Display result
print(avg_loan_branch)

                                   branch  avg_loan_amount
0         Acosta, Murphy and Rojas Branch        1525891.0
1                        Adams LLC Branch        4362487.0
2    Adams, Mitchell and Schneider Branch         899686.0
3                   Aguirre-Bowman Branch        3045520.0
4         Allen, Martin and Mosley Branch        2486493.0
..                                    ...              ...
339     Woods, Patterson and Owens Branch         536653.0
340                   Woodward LLC Branch        2109362.0
341                      Young PLC Branch        3002663.0
342  Zavala, Ferguson and Williams Branch        3475472.0
343                  Zimmerman PLC Branch        4383896.0

[344 rows x 2 columns]

Q13: How many customers exist in each age group (e.g., 1825, 2635, etc.)?

In [95]:
# Step 1: Define age bins and labels
age_bins = [0, 18, 25, 35, 45, 60, 120]
age_labels = ['<18', '18-25', '26-35', '36-45', '46-60', '60+']

# Step 2: Create age_group column
customers['age_group'] = pd.cut(
    customers['age'],
    bins=age_bins,
    labels=age_labels,
    right=True
)

# Step 3: Count customers per age group
age_group_count = customers.groupby('age_group').agg(
    total_customers=('customer_id', 'count')
).reset_index()

# Step 4: Display result
print(age_group_count)

  age_group  total_customers
0       <18                5
1     18-25               74
2     26-35               76
3     36-45              102
4     46-60              150
5       60+               94

C:\Users\aarth\AppData\Local\Temp\ipykernel_26232\2680537729.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_count = customers.groupby('age_group').agg(

##### 5 SUPPORT TICKETS & CUSTOMER EXPERIENCE

Q14: Which issue categories have the longest average resolution time?

In [96]:
# Ensure date columns are datetime
support_tickets['date_opened'] = pd.to_datetime(support_tickets['date_opened'], errors='coerce')
support_tickets['date_closed'] = pd.to_datetime(support_tickets['date_closed'], errors='coerce')

# Calculate resolution time in days
support_tickets['resolution_days'] = (
    support_tickets['date_closed'] - support_tickets['date_opened']
).dt.days

# Keep only resolved tickets
resolved_tickets = support_tickets.dropna(subset=['resolution_days'])

# Group by issue category and calculate average resolution time
issue_resolution = resolved_tickets.groupby('issue_category').agg(
    avg_resolution_days=('resolution_days', 'mean')
).reset_index()

# Sort by longest resolution time
issue_resolution = issue_resolution.sort_values(
    by='avg_resolution_days', ascending=False
)

print(issue_resolution)

                   issue_category  avg_resolution_days
3                Card Not Working            18.500000
11  Mismatch in Account Statement            17.903226
5       Debit Card Delivery Delay            17.814815
13             UPI Payment Failed            17.458333
1         Account Closure Request            17.322581
2                  Account Frozen            17.115385
9                Loan Foreclosure            16.583333
4                   Cheque Bounce            16.000000
6           EMI Auto-debit Failed            15.976190
12         Online Transfer Failed            15.476190
8             KYC Update Required            15.407407
7           Interest Rate Dispute            15.310345
0            Account Access Issue            14.884615
10             Loan Payment Delay            14.711538
14       Unauthorized Transaction            13.107143

Q15: Which support agents have resolved the most critical tickets with high customer ratings (4)?

In [97]:
critical_high_rating = support_tickets[
    (support_tickets['priority'] == 'Critical') &
    (support_tickets['customer_rating'] >= 4)
]

agent_performance = critical_high_rating.groupby('support_agent').agg(
    total_critical_tickets=('ticket_id', 'count')
).reset_index()

agent_performance = agent_performance.sort_values(
    by='total_critical_tickets', ascending=False
)

print(agent_performance)

          support_agent  total_critical_tickets
17         Owen Mahajan                       7
18          Ranveer Roy                       6
26     Wriddhish Sarraf                       6
3         Chanakya Natt                       5
8         Gabriel Mutti                       4
1          Advik Bhagat                       4
9        Gaurika Pillay                       3
20            Ria Ghose                       3
2       Chaitaly Vaidya                       3
23           Veda Samra                       3
22          Vansha Sood                       3
24        Wishi Chhabra                       3
19  Rehaan Balakrishnan                       2
12         Kalpit Ahuja                       2
11          Ikbal Sidhu                       2
13        Kashvi Doctor                       2
10          Harish Anne                       2
0         Aarnav Sangha                       1
6        Ekapad Jhaveri                       1
7      Falguni Bhandari                       1
4             Ekani Oza                       1
5          Ekanta Devan                       1
14         Lavanya Hans                       1
15           Leena Apte                       1
16    Niharika Aggarwal                       1
21          Udyati Mody                       1
25     Wriddhish Mangal                       1

#####  Additional Analysis

Q16. Which city has the highest total account balance?

In [98]:
city_balance = cust_acc.groupby('city').agg(
    total_balance=('account_balance', 'sum')
).reset_index()

city_balance = city_balance.sort_values(by='total_balance', ascending=False)
print(city_balance)

                 city  total_balance
140      Jessicamouth      936939.15
166      Kimberlyfort      810740.39
282       North James      781197.05
34          Brownview      748401.12
195         Lake Sean      711970.49
..                ...            ...
317       Port Dakota        5128.16
467    West Ryanshire        3001.59
153         Juliaview        2647.41
278    North Dalefort        1862.66
324  Port Jenniferton        1669.73

[487 rows x 2 columns]

Q17. How many customers do not have any transactions?

In [99]:
customers_with_txn = transactions['customer_id'].unique()

no_txn_customers = customers[
    ~customers['customer_id'].isin(customers_with_txn)
]

print(no_txn_customers[['customer_id', 'name']])

    customer_id           name
500       C0501  Alfert Daniel

Q18. What is the distribution of loans by loan status?

In [100]:
loan_status_count = loans.groupby('loan_status').agg(
    total_loans=('loan_id', 'count')
).reset_index()

print(loan_status_count)

  loan_status  total_loans
0      Active          143
1    Approved          142
2      Closed          130
3   Defaulted          138

Q19. Which loan type has the highest average interest rate?

In [101]:
interest_by_type = loans.groupby('loan_type').agg(
    avg_interest_rate=('interest_rate', 'mean')
).reset_index()

interest_by_type = interest_by_type.sort_values(
    by='avg_interest_rate', ascending=False
)

print(interest_by_type)

   loan_type  avg_interest_rate
3       Home          10.872479
1   Business          10.625437
0       Auto          10.532523
4   Personal          10.463391
2  Education          10.114393

Q20. How many customers have both a loan and a credit card?

In [102]:
loan_customers = loans['customer_id'].unique()
card_customers = credit_cards['customer_id'].unique()

both_products = set(loan_customers).intersection(set(card_customers))

result = customers[
    customers['customer_id'].isin(both_products)
]

print(result[['customer_id', 'name']])

Empty DataFrame
Columns: [customer_id, name]
Index: []

Q21. How many loans have been issued by each branch?

In [103]:
branch_loan_count = loans.groupby('branch').agg(
    total_loans=('loan_id', 'count')
).reset_index()

print(branch_loan_count)

                                   branch  total_loans
0         Acosta, Murphy and Rojas Branch            3
1                        Adams LLC Branch            2
2    Adams, Mitchell and Schneider Branch            1
3                   Aguirre-Bowman Branch            1
4         Allen, Martin and Mosley Branch            1
..                                    ...          ...
339     Woods, Patterson and Owens Branch            1
340                   Woodward LLC Branch            1
341                      Young PLC Branch            1
342  Zavala, Ferguson and Williams Branch            1
343                  Zimmerman PLC Branch            1

[344 rows x 2 columns]

Q22. Who are the top 5 customers with the highest number of failed transactions?

In [104]:
failed_txns = transactions[
    transactions['status'].str.lower() == 'failed'
]

failed_customers = failed_txns.groupby('customer_id').agg(
    failed_count=('txn_id', 'count')
).reset_index()

top5_failed = failed_customers.sort_values(
    by='failed_count', ascending=False
).head(5)

top5_failed = pd.merge(
    top5_failed,
    customers[['customer_id', 'name']],
    on='customer_id',
    how='left'
)

print(top5_failed)

  customer_id  failed_count              name
0       C0172             9     Steven Hanson
1       C0398             8        Ryan Smith
2       C0035             8       Todd Zamora
3       C0278             8  Patricia Hawkins
4       C0177             8       Tina Morris

Q23. What is the average customer rating by support ticket priority?

In [105]:
priority_rating = support_tickets.groupby('priority').agg(
    avg_rating=('customer_rating', 'mean')
).reset_index()

print(priority_rating)

   priority  avg_rating
0  Critical    3.064327
1      High    3.149254
2       Low    2.952096
3    Medium    2.875000

Q24. What is the average account balance of senior citizens (age > 60)?

In [106]:
senior_customers = customers[customers['age'] > 60]

senior_balance = pd.merge(
    senior_customers,
    accounts,
    on='customer_id',
    how='left'
)

avg_balance = senior_balance['account_balance'].mean()
print(avg_balance)

237643.7581914894

Q25. What is the average loan duration for closed loans?

In [107]:
closed_loans = loans[loans['loan_status'] == 'Closed'].copy()

closed_loans['start_date'] = pd.to_datetime(closed_loans['start_date'], errors='coerce')
closed_loans['end_date'] = pd.to_datetime(closed_loans['end_date'], errors='coerce')

closed_loans['loan_duration_days'] = (
    closed_loans['end_date'] - closed_loans['start_date']
).dt.days

avg_duration = closed_loans['loan_duration_days'].mean()
print("Average Loan Duration (days):", avg_duration)

Average Loan Duration (days): 2508.923076923077